<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper">
	<insert id="insertBoard">
		insert into BOARD (area1, area2, area3)
		values
		(#{area1} , #{area2} , #{area3})
	</insert>
	<update id="updateBoard">
		update BOARD
		set area2=#{area2}, area3=#{area3},
		area1=#{area1}
		where id=#{id}
	</update>
	<delete id="deleteBoard">
		delete from BOARD where id=#{id}
	</delete>
	<select id="getBoard" resultType="subject">
		select * from BOARD where
		id=#{id}
	</select>
	<select id="getBoardList" resultType="subject">
		select * from BOARD order
		by id desc
	</select>
</mapper>